<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task %>
    <%= form.text_field :task, id: :task_task %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :task_date %>
  </div>

  <div class="field">
    <%= form.label :complete %>
    <%= form.check_box :complete, id: :task_complete %>
  </div>

  <div class="field">
    <%= form.label :important %>
    <%= form.check_box :important, id: :task_important %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
